<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">WORKOUTFLOW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cardio">Cardio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/muscle_building">Muscle Building</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/strength_training">Strength Training</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron jumbotron-fluid" id="jumbotron">
                <div class="container">
                    <h1 class="display-4 animated pulse delay-1s slow	">CARDIO</h1>
                    <p class="lead">Ready to get your heart pumping?
                        <br>
                        Follow this step by step guide to complete your
                        cardio workout. Don’t forget hit play on your playlist!</p>
                    <hr class="my-4">
                     <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DWSJHnPb1f0X3" width="1000" height="380"
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <!-- to do -->
        <div class="col-sm-12 center">
            <div class="card bg-light mb-3" style="width: 75rem;">
                <div class="card-body">
                    <h5 class="card-title">Day 1 </h5>
                    <video data-src="https://hmg.h-cdn.co/videos/gif1-1536330009.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif1-1536330009.mp4"></video>
                    <video data-src="https://hmg.h-cdn.co/videos/gif2-1536330037.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif2-1536330037.mp4"></video>
                    <video data-src="https://hmg.h-cdn.co/videos/gif3-1536330052.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif3-1536330052.mp4"></video>
                    <video data-src="https://hmg.h-cdn.co/videos/gif9-1536330181.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif9-1536330181.mp4"></video>
                    <video data-src="https://hmg.h-cdn.co/videos/gif14-1536330306.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif14-1536330306.mp4"></video>
                    <ul>
                        {{#each crd}}
                          {{#if_eq day 1}}
                          {{#unless this.completed}}
                          <p> - {{ex_name}}  {{intervals}} </p>
                          <form method="POST" action="/cardioUpdate?_method=PUT" class="button-size">
                          <input type="hidden" name= "mb_id" type="text"
                          value={{id}}>
                          <button type="submit" class="btn btn-info">COMPLETED!</button>
                          </form>
                          {{/unless}}
                          {{/if_eq}}
                        {{/each}}
                    </ul>
                    <hr>
                    <h5>Completed Workouts</h5>  
                    <ul>
                        {{#each crd}}
                        {{#if_eq day 1}}
                        {{#if this.completed}}
                           <p> - {{ex_name}}  {{intervals}} </p>
                           <form method="POST" action="/cardioReset?_method=PUT" class="button-size">
                           <input type="hidden" name= "mb_id" type="text"
                           value={{id}}>
                           <button type="submit" class="btn btn-info">NOT COMPLETE!</button>
                           </form>
                        {{/if}}
                        {{/if_eq}}
                        {{/each}}
                    </ul>        
                </div>
            </div>
        </div>
        <div class="col-sm-12 center">
            <div class="card bg-light mb-3" style="width: 75rem;">
                <div class="card-body">
                    <h5 class="card-title">Day 2</h5>
                    <video data-src="https://hmg.h-cdn.co/videos/gif4-1536277678.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif4-1536277678.mp4"></video>
                    <video data-src="https://hmg.h-cdn.co/videos/gif5-1536338785.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif5-1536338785.mp4"></video>
                    <video data-src="https://hmg.h-cdn.co/videos/gif11-1536330224.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif11-1536330224.mp4"></video>
                    <video data-src="https://hmg.h-cdn.co/videos/gif13-1536330290.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif13-1536330290.mp4"></video>  
                    <video data-src="https://hmg.h-cdn.co/videos/gif8-1536330163.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif8-1536330163.mp4"></video>
                    <ul>
                        {{#each crd}}
                          {{#if_eq day 2}}
                          {{#unless this.completed}}
                          <p> - {{ex_name}}  {{intervals}} </p>
                          <form method="POST" action="/cardioUpdate?_method=PUT" class="button-size">
                          <input type="hidden" name= "mb_id" type="text"
                          value={{id}}>
                          <button type="submit" class="btn btn-info">COMPLETED!</button>
                          </form>
                          {{/unless}}
                          {{/if_eq}}
                        {{/each}}
                    </ul>
                    <hr>
                    <h5>Completed Workouts</h5>  
                    <ul>
                        {{#each crd}}
                        {{#if_eq day 2}}
                        {{#if this.completed}}
                           <p> - {{ex_name}}  {{intervals}} </p>
                           <form method="POST" action="/cardioReset?_method=PUT" class="button-size">
                           <input type="hidden" name= "mb_id" type="text"
                           value={{id}}>
                           <button type="submit" class="btn btn-info">NOT COMPLETE!</button>
                           </form>
                        {{/if}}
                        {{/if_eq}}
                        {{/each}}
                    </ul>        
                </div>
            </div>
        </div>
        <div class="col-sm-12 center">
            <div class="card bg-light mb-3" style="width: 75rem;">
                <div class="card-body">
                    <h5 class="card-title">Day 3</h5>
                    <video data-src="https://hmg.h-cdn.co/videos/gif6-1536330122.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif6-1536330122.mp4"></video>
                    <video data-src="https://hmg.h-cdn.co/videos/gif7-1536330143.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif7-1536330143.mp4"></video>
                    <video data-src="https://hmg.h-cdn.co/videos/gif10-1536330206.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif10-1536330206.mp4"></video>
                    <video data-src="https://hmg.h-cdn.co/videos/gif15-1536330342.mp4" autoplay="" loop="" muted="" playsinline="" width="200px" src="https://hmg.h-cdn.co/videos/gif15-1536330342.mp4"></video>                    
                    <video data-src="https://hmg.h-cdn.co/videos/gif20-1536330418.mp4" autoplay="" loop="" muted="" playsinline="" width= "200px" src="https://hmg.h-cdn.co/videos/gif20-1536330418.mp4"></video>       
                    <ul>
                        {{#each crd}}
                          {{#if_eq day 3}}
                          {{#unless this.completed}}
                          <p> - {{ex_name}}  {{intervals}} </p>
                          <form method="POST" action="/cardioUpdate?_method=PUT" class="button-size">
                          <input type="hidden" name= "mb_id" type="text"
                          value={{id}}>
                          <button type="submit" class="btn btn-info">COMPLETED!</button>
                          </form>
                          {{/unless}}
                          {{/if_eq}}
                        {{/each}}
                    </ul>
                    <hr>
                    <h5>Completed Workouts</h5>  
                    <ul>
                        {{#each crd}}
                        {{#if_eq day 3}}
                        {{#if this.completed}}
                           <p> - {{ex_name}}  {{intervals}} </p>
                           <form method="POST" action="/cardioReset?_method=PUT" class="button-size">
                           <input type="hidden" name= "mb_id" type="text"
                           value={{id}}>
                           <button type="submit" class="btn btn-info">NOT COMPLETE!</button>
                           </form>
                        {{/if}}
                        {{/if_eq}}
                        {{/each}}
                    </ul>        
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" style="width: 71rem;">
                <div class="card-body" id="New">
                    <h2 class="card-title">Insert Your Own Exercise!</h2>
                    <form action="cardioCreate" method="POST">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Exercise Name</label>
                            <input type="text" class="form-control" name="ex_name" placeholder="Crunches">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Repetition</label>
                            <input type="text" class="form-control" name="intervals" placeholder="30x">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Day</label>
                            <select class="custom-select" name="day">
                                <option selected>Open to select day of workout</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <br>
                            <button type="submit" class="btn btn-info" style="margin-top: 5px">Add Exercise</button>
                        </div>
                    </form>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>

<div class="footer">
    <p>&copy; Copyright 2019</p>
</div>
<script src="../public/js/index.js"></script>